.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670bff;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4d04c4;
  color: white;
}
// make both header-button same size
.header-button {
  padding: 8px 24px;
  width: 170px;
}
