.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.button-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-grow: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #4d04c4;
}
