.bin {
  font-size: 4rem;
  color: #4d04c4;
  padding-bottom: 30px;
  padding-top: 20px;
}

.modal-body {
  margin: 0;
  background-color: #191e2a;
}

.modal-dialog {
  background-color: #191e2a;
}

.modal-header {
  background-color: #191e2a;
}

.modal-footer {
  background-color: #191e2a;
}

.modal-content {
  background-color: #191e2a;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.bookmark-modal {
  margin-right: 10px;
}
